@charset "UTF-8";
* { margin: 0; padding: 0; }
html, body { height: 100%; }
.start, .stop, .return {
  display: inline-block;
  width: 100px;
  background: red;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 20px;
  margin-top: 20px;
}
.box {
  width: 100px;
  height: 100px;
  position: absolute;
  background: rgb(227, 181, 119);
  border-radius: 100%;
  text-align: center;
  line-height: 100px;
  animation-name: turnBall;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  /* animation-direction: alternate; */
}
@keyframes turnBall {
  from{
  transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }

}
