@charset "UTF-8";
* { margin: 0; padding: 0; }
html, body { height: 100%; }
li { list-style: none; }
button{ border: 0; background: none; }
button,input { outline: none;}

#mydiv{
  width: 250px;
  height: 250px;
  overflow: auto;
}

#content {
  width: 2000px;
  height: 800px;
  background: #4236a3;
  color: white;
}
.btn-group{
  display: flex;
  width: 250px;
  justify-content:space-between;
  align-items: center;
}

button{
  width : 20px;
  height: 20px;
  line-height: 20px;
  background: lightgray;
}

button.x-axis{
background: violet;
}
