<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>vue.js v-for</title>
    <link rel="stylesheet" href="./css/style.min.css">
  </head>
  <body>
    <div id="app">
      <header id="header">
        <ul id="menu">
          <!--
           실습
           v-for를 사용하여 아래 메뉴를 구현하시오.
           ( href와 menu text데이터는 menuList 변수에서 가져오시오. )
          -->
          <li v-for="list in menuList">
            <a v-bind:href="list.ahref">{{list.menu}}</a>
          </li>
          <!-- <li><a href="http://naver.com">company</a></li>
          <li><a href="http://kakao.com">product</a></li>
          <li><a href="http://daum.net">gallery</a></li>
          <li><a href="http://instagram.com">location</a></li> -->
        </ul>
      </header>
      <main>
        <div class="container">
        </div>
      </main>
      <footer id="footer">
        <div class="inner">
          <h3><a href="#">logo</a></h3>
          <ul id="f-menu">
            <!--
             실습
             footer 메뉴의 데이터를 생성하고 해당 데이터를
             v-for를 사용하여 아래 메뉴를 구현하시오.
             ( href와 menu text데이터는 menuList 변수에서 가져오시오. )
            -->
            <li v-for="list in fMenuList">
              <a v-bind:href="list.ahref">{{list.menu}}</a>
            </li>
            <!-- <li><a href="http://naver.com">company</a></li>
            <li><a href="http://kakao.com">product</a></li>
            <li><a href="http://daum.net">gallery</a></li>
            <li><a href="http://instagram.com">location</a></li>
            <li><a href="http://kumoh.ac.kr">notice</a></li>
            <li><a href="http://saramin.co.kr">faq</a></li> -->
          </ul>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      let app = new Vue({
        el: '#app',
        data: {
          menuList: [
            {menu: 'company', ahref:'http://naver.com' },
            {menu: 'product', ahref:'http://kakao.com' },
            {menu: 'gallery', ahref:'http://daum.net' },
            {menu: 'location', ahref:'http://instagram.com' }
          ],
          fMenuList: [
            {menu: 'company', ahref:'http://naver.com' },
            {menu: 'product', ahref:'http://kakao.com' },
            {menu: 'gallery', ahref:'http://daum.net' },
            {menu: 'location', ahref:'http://instagram.com' },
            {menu: 'notice', ahref:'http://kumoh.ac.kr' },
            {menu: 'faq', ahref:'http://saramin.co.kr' }
          ]
        }
      });
    </script>
  </body>
</html>
