@charset "UTF-8";
* { margin: 0; padding: 0; }
html, body { height: 100%; }

body{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  font-size: 50px;
  font-weight: bold;;
  color: #ffffff;
  text-shadow: 0 0 15px black;
}

#txt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#txt p {
  color: green;
}
