@charset "UTF-8";
div {
  position: relative;
  width: 100px;
  height: 100px;
  background: red;
  animation-name: fillmodecheck;
  animation-duration: 3s;
  animation-delay: 3s;
  /* animation-fill-mode: forwards; */
  /* animation-fill-mode: backwards; */
  animation-fill-mode: both;
  /* forwards: 마지막 프레임의 형태를 유지 */
  /* backwards: 첫번째 프레임 형태를 유지하다가 애니메이션 진행 */
  /* both: 첫번째 프레임 상태를 유지하다가 애니메이션이 진행되고 마지막 프레임에서 정지 */
}
@keyframes fillmodecheck {
  /* 0%~ 100% */
  from{
    top: 0px;
    background: yellow;
  }
  to{
    top: 300px;
    background: blue;
  }
}
